@import "tailwindcss";
body{
    height: 100vh;
    width: 100vw;
    font-family: inter;
    font-family: "Inter", sans-serif;
    overflow-x:hidden;
}
webkit
 *{
    box-sizing: border-box;
 }

.container{
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.05);
}
.broadcast{
    border: 1px solid #e0e0e0;
}